@import "variable.styl"

body, html
    line-height: 1
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
    user-select: none
    -webkit-tap-highlight-color: transparent
    background: $color-background
    
.fuyou-ct
    box-sizing: border-box
    display: flex
    position: relative
    -webkit-box-orient: vertical
    flex-direction: column
    flex-shrink: 0
    flex-grow: 0
    flex-basis: auto
    align-items: stretch
    align-content: flex-start
    border: 0 solid black
    margin: 0
    padding: 0
    min-width: 0

.fuyou-el
    display: block
    box-sizing: border-box
    position: relative
    flex-shrink: 0
    flex-grow: 0
    flex-basis: auto
    border: 0 solid black
    margin: 0
    padding: 0
    min-width: 0 

.fuyou-text
    display: -webkit-box
    -webkit-box-orient: vertical
    position: relative
    white-space: pre-wrap
    word-wrap: break-word
    overflow: hidden
