@import "variable.styl"

body, html
    line-height: 1
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
    user-select: none
    -webkit-tap-highlight-color: transparent
    background: $color-background
    height: 100%

.clearfix:after
    content:''
    display:block
    clear:both

.clearfix
    zoom:1

.fl
    float: left

.fr
    float: right

.border-top-1px, .border-right-1px, .border-bottom-1px, .border-left-1px
  position: relative
  &:before, &:after
    content: ""
    display: block
    position: absolute
    transform-origin: 0 0

.border-top-1px
  &:before
    border-top: 1px solid $color-row-line
    left: 0
    top: 0
    width: 100%
    transform-origin: 0 top

.border-right-1px
  &:after
    border-right: 1px solid $color-col-line
    top: 0
    right: 0
    height: 100%
    transform-origin: right 0

.border-bottom-1px
  &:after
    border-bottom: 1px solid $color-row-line
    left: 0
    bottom: 0
    width: 100%
    transform-origin: 0 bottom

.border-left-1px
  &:before
    border-left: 1px solid $color-col-line
    top: 0
    left: 0
    height: 100%
    transform-origin: left 0

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-top-1px
    &:before
      width: 200%
      transform: scale(.5) translateZ(0)
  .border-right-1px
    &:after
      height: 200%
      transform: scale(.5) translateZ(0)
  .border-bottom-1px
    &:after
      width: 200%
      transform: scale(.5) translateZ(0)
  .border-left-1px
    &:before
      height: 200%
      transform: scale(.5) translateZ(0)

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
  .border-top-1px
    &:before
      width: 300%
      transform: scale(.333) translateZ(0)
  .border-right-1px
    &:after
      height: 300%
      transform: scale(.333) translateZ(0)
  .border-bottom-1px
    &:after
      width: 300%
      transform: scale(.333) translateZ(0)
  .border-left-1px
    &:before
      height: 300%
      transform: scale(.333) translateZ(0)

.fuyou-ct
    box-sizing: border-box
    display: flex
    position: relative
    -webkit-box-orient: vertical
    flex-direction: column
    flex-shrink: 0
    flex-grow: 0
    flex-basis: auto
    align-items: stretch
    align-content: flex-start
    border: 0 solid black
    margin: 0
    padding: 0
    min-width: 0

.fuyou-el
    display: block
    box-sizing: border-box
    position: relative
    flex-shrink: 0
    flex-grow: 0
    flex-basis: auto
    border: 0 solid black
    margin: 0
    padding: 0
    min-width: 0

.fuyou-text
    display: -webkit-box
    -webkit-box-orient: vertical
    position: relative
    white-space: pre-wrap
    word-wrap: break-word
    overflow: hidden

.flag-icon
    background: url(//gw.alicdn.com/tfs/TB19LbESXXXXXXgapXXXXXXXXXX-32-2460.png) no-repeat 0 100px
    background-size: 16px
    width: 16px
    height: 16px
    display: inline-block
    margin: 0 1px 1px 0
    vertical-align: middle

.slide-left-enter, .slide-right-leave-active
    opacity: 0
    -webkit-transform: translate(100%, 0)
    transform: translate(100%, 0)

.slide-left-leave-active, .slide-right-enter
    opacity: 0
    -webkit-transform: translate(-100%, 0)
    transform: translate(-100%, 0)

.ne-flag-3U .flag-icon
    background-position: 0 0

.ne-flag-8C .flag-icon
    background-position: 0 -21px

.ne-flag-8L .flag-icon
    background-position: 0 -42px

.ne-flag-9C .flag-icon
    background-position: 0 -63px

.ne-flag-BK .flag-icon
    background-position: 0 -84px

.ne-flag-CA .flag-icon
    background-position: 0 -105px

.ne-flag-CJ .flag-icon
    background-position: 0 -126px

.ne-flag-CN .flag-icon,
.ne-flag-H4 .flag-icon
    background-position: 0 -147px

.ne-flag-CY .flag-icon
    background-position: 0 -168px

.ne-flag-CZ .flag-icon
    background-position: 0 -189px

.ne-flag-EU .flag-icon
    background-position: 0 -231px

.ne-flag-FL .flag-icon
    background-position: 0 -252px

.ne-flag-FM .flag-icon
    background-position: 0 -273px

.ne-flag-G5 .flag-icon
    background-position: 0 -294px

.ne-flag-GS .flag-icon
    background-position: 0 -315px

.ne-flag-HO .flag-icon
    background-position: 0 -336px

.ne-flag-HU .flag-icon
    background-position: 0 -357px

.ne-flag-HX .flag-icon
    background-position: 0 -378px

.ne-flag-JD .flag-icon
    background-position: 0 -399px

.ne-flag-JR .flag-icon
    background-position: 0 -420px

.ne-flag-KN .flag-icon
    background-position: 0 -441px

.ne-flag-KY .flag-icon
    background-position: 0 -462px

.ne-flag-MF .flag-icon
    background-position: 0 -483px

.ne-flag-MU .flag-icon
    background-position: 0 -504px

.ne-flag-NS .flag-icon
    background-position: 0 -525px

.ne-flag-NX .flag-icon
    background-position: 0 -546px

.ne-flag-OQ .flag-icon
    background-position: 0 -567px

.ne-flag-PN .flag-icon
    background-position: 0 -588px

.ne-flag-SC .flag-icon
    background-position: 0 -609px

.ne-flag-TV .flag-icon
    background-position: 0 -630px

.ne-flag-VD .flag-icon
    background-position: 0 -651px

.ne-flag-WH .flag-icon
    background-position: 0 -672px

.ne-flag-WU .flag-icon
    background-position: 0 -693px

.ne-flag-XO .flag-icon
    background-position: 0 -714px

.ne-flag-ZH .flag-icon
    background-position: 0 -735px

.ne-flag-GJ .flag-icon
    background-position: 0 -835px

.ne-flag-J5 .flag-icon,
.ne-flag-DZ .flag-icon
    background-position: 0 -754px

.ne-flag-UN .flag-icon
    background-position: 0 -775px

.ne-flag-JQ .flag-icon
    background-position: 0 -795px

.ne-flag-UO .flag-icon
    background-position: 0 -990px
    background-size: 16px

.ne-flag-DR .flag-icon
    background-position: 0 -936px
    background-size: 16px

.ne-flag-YI .flag-icon
    background-position: 0 -918px
    background-size: 16px

.ne-flag-UQ .flag-icon
    background-position: 0 -900px
    background-size: 16px

.ne-flag-QW .flag-icon
    background-position: 0 -972px
    background-size: 16px

.ne-flag-GX .flag-icon
    background-position: 0 -1005px
    background-size: 16px

.ne-flag-AQ .flag-icon
    background-position: 0 -1023px
    background-size: 16px

.ne-flag-Y8 .flag-icon
    background-position: 0 -1043px
    background-size: 16px

.ne-flag-RY .flag-icon
    background-position: 0 -1063px
    background-size: 16px

.ne-flag-GY .flag-icon
    background-position: 0 -1125px
    background-size: 16px

.ne-flag-FU .flag-icon
    background-position: 0 -1146px
    background-size: 16px

.ne-flag-GT .flag-icon
    background-position: 0 -1167px
    background-size: 16px

.ne-flag-A6 .flag-icon
    background-position: 0 -1105px
    background-size: 16px

.ne-flag-9H .flag-icon
    background-position: 0 -1084px
    background-size: 16px

.ne-flag-UQ .flag-icon
    background-position: 0 -1188px
    background-size: 16px

.ne-flag-RY .flag-icon
    background-position: 0 -1063px
    background-size: 16px

.ne-flag-LT .flag-icon
    background-position: 0 -1209px
    background-size: 16px

.dep
    color:#202325
    font-size: 20px

.arr
    font-size: 10px
    color: #898989
    overflow: hidden
